{% extends 'base.html' %} {% block content %}
<h1>{% block title %} General Information {% endblock %}</h1>
<p>Status page of operations.</p>

<h3>System Info</h3>
<p>{{ props['uname'].stdout.decode() }}</p>

<h3>System Time</h3>
<p>{{ props['date'].stdout.decode() }}</p>

<h3>Uptime</h3>
<p>{{ props['uptime'].stdout.decode() }}</p>

<h3>Operating System</h3>
<p>{{ props['os'].stdout.decode() }}</p>

<h3>Architecture</h3>
<p>{{ props['arch'].stdout.decode() }}</p>

<h3>Disk Usage</h3>
<!-- <p>{{ props['disk'].stdout.decode('utf-8') }}</p> -->
<pre>{{ props['disk'].stdout.decode() }}</pre>

<h3>I/O Operations</h3>
<pre>{{ props['iostat'].stdout.decode() }}</pre>

<h3>Virtual Memory</h3>
<pre>{{ props['vmstat'].stdout.decode() }}</pre>

<h3>Free Memory</h3>
<pre>{{ props['free'].stdout.decode() }}</pre>

<h3>PCI Devices</h3>
<pre>{{ props['pci'].stdout.decode() }}</pre>

<h3>USB Devices</h3>
<pre>{{ props['usb'].stdout.decode() }}</pre>

{% endblock %}
